.close {
    color:white;
    opacity:0.6
}
.close:hover {
    opacity:1;
    color:red;
}
.btn {
    border-radius:0px;
    background-color:#0197b8;
    color:white
}
#canvas {
	text-align:center;
}
#paper {
    margin-top:-30px;
    background: #0197b8;
}
#mapTitle{
	position:absolute;
	width:100%;
	text-align:center
    color:white;
}
