/* line 1, ../sass/screen.scss */
.login-btns {
  border-radius: 15px;
  border: 1px solid #ddd;
  color: #3398f3;
  display: inline-block;
  padding: 7px;
  background-color: #fff;
}

/* line 9, ../sass/screen.scss */
.login-btns:hover {
  background-color: #eee;
}

/* line 12, ../sass/screen.scss */
.items label {
  width: 150px;
}

/* line 15, ../sass/screen.scss */
.items, .form-btn {
  margin-left: 50px;
}

/* line 18, ../sass/screen.scss */
legend a {
  font-size: 10px;
}

/* line 21, ../sass/screen.scss */
.log-out {
  float: right;
}
