{% extends "admin/change_form.html" %}
{% load wysiwyg %}
{% load staticfiles %}

{% block extrahead %}
	
	{{ block.super }}
	
	
{% endblock %}

{% block extrastyle %}
	
	{{ block.super }}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>    
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
        });
    </script>	
	
{% endblock %}

{% block content %}
	
	{{ block.super }}
    {% wysiwyg_editor "id_text"  %}
	
{% endblock %}

