{% extends 'controller/base.html' %}
{% block 'Title' %}
    Back
{% endblock %}

{% block 'content' %}

<script>
    $(document).ready(function(){
        $(document).on('click','#send', function(){
            $('#hid').val(data)
            document.forms["myForm"].submit();
        })
    })
</script>
<div class='container'>
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %} 
            <textarea rows="10" cols="40" class='form-control'name ='content'>
               {% for one in cont  %}
                {{ one.cont }}
               {% endfor %}
            </textarea>
            <input type="submit" class='btn btn-primary' value='publish'
            id='send' name='btn'/>
        </form>
    </div>
    <div class='container'>
        <a href="1">accordion</a>
        <a href="2">dialog</a>
        <a href="3">tabs</a>
        <a href="4">tooltip</a>
        <a href="5">menu</a>
        <a href="6">slider</a>
    </div>
    <div >
        
{% endblock %}
