<html>
    <head>
        <title> 
            {% block 'Title' %}{% endblock %} 
        </title>
        {% include 'controller/jslink.html' %}
        {% block "somejs" %}
            
        {% endblock %}
    </head>
    <body style="background:url('static/media/bg.jpg')">
        {% include "controller/navbar.html" %}
        
        {% block 'content' %}{% endblock %}
    </body>
</html>

