{% extends 'controller/forms.html' %}
{% block 'title' %}
  Feedback
{% endblock %}

{% block 'header' %}
  Feedback  
{% endblock %}

{% block 'sm-type' %}danger{% endblock %}

{% block  'btn-type'%}success{% endblock %}
{% block 'sm-val' %}
  Clear
{% endblock %}
{% block 'bg-val' %}
  Send Data
{% endblock %}

{% block 'warning' %}
    <div class='col-lg-4'>
       <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Холбоо барих</strong></br>
              <p> Утас: 9121126, 95582664</br>
                И-Майл: easytaxi@changes.com
              </p>
        </div> 
    </div>
{% endblock %}
