<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% load staticfiles %}
    <title>
        {% block 'title' %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/stylesheets/bootstrap.min.css' %}" title="" type="" />
    <script src='{% static 'javascripts/libs/bootstrap.min.js' %}' type='text/javascript' charset='utf-8'></script>
<script src="{% static 'javascripts/libs/jquery.min.js' %}" type='text/javascript' charset='utf-8'></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
          $("input,select,textarea").addClass('form-control');
          $(".btn").removeClass('form-control');
      });
    </script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  </head>
  <body style="background:url('static/media/bgf.png')">
    <div class='container'> 
        <div class='bs-docs-section'>
          <div class='row'>
            <div class='col-lg-12'>
              <div class='page-header'>
                <h1 style="color:white">
                {% block 'header' %}
                {% endblock %}
                </h1>
              </div>
            </div>
          </div>
        </div>
    <div class=''>
      <div class="container well ">
        <div class='row'>
        <div class='col-lg-8'>
          
      <form action='' method='post' class=' bs-example form-horizontal' accept-charset='utf-8'>{% csrf_token %}
        {% for field in form %}
              {{ field.errors }}
              <div class='form-group'>
                <label for='id_{{ field.label|lower }}' class='col-lg-2 control-label'>
                {{ field.label }}
                </label>
                <div class='col-lg-7 '>
                {{ field }}
                </div>
              </div>
            {% endfor %}
            <div class='form-group'>
              <div class='col-lg-10 col-lg-offset-2'>
                <input type='reset' value='{% block 'sm-val' %}
                {% endblock %}' class='btn btn-{% block 'sm-type' %}
                {% endblock %} btn-sm'style='border-radius:0px' />
                <input type='submit' value='{% block 'bg-val' %}
                {% endblock %}' class='btn btn-{% block 'btn-type'%}
                {% endblock %}'style='border-radius:0px' />
              </div>
            </div>
            <a href="{% block 'url' %}
              
            {% endblock %}">
              {% block 'link' %}
              {% endblock %}
            </a>
          </form>
        </div>
        {% block  'warning'%}
        {% endblock %}

    <script type="text/javascript" charset="utf-8">
      $(".close").on('click',function(){
        $(".close").parent().hide();
      });
    </script>
      </div>
    </div>
  </div>
</div>
  </body>
</html>

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}


