{% extends 'controller/base.html' %}
{% block 'content' %}
{% for one in content  %}
<div class='row'>
    <div class='container'> 
        {{ one.cont | safe }}
    </div>
<div>
    {% endfor %}
{% endblock %}
