{% extends "controller/base.html" %}
{% block 'Title' %}
    Taxi
{% endblock %}

{% block 'content' %}
<div style="height:90%;width:100%">
	<div id="kenburns-slideshow"></div>
	<div id="kenburns-description">
		<h1 id="slide-title" class='text-success'></h1>
	</div>
	<script type="text/javascript" src="static/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="static/js/kenburns.js"></script>
	
	<script type="text/javascript">
	var titles = ["UB taxi",
				  "Hotel taxi",
				  "VIP taxi korea",
				  "VIP taxi korea",
				  "ABU robocon 2013 unitel 1, 2",
				  "SIT1 & Changes"];

	$(document).ready(function() {
	    $('#kenburns-slideshow').Kenburns({
	    	images: [
	    		"static/images/image6.jpg",
	    		"static/images/image.jpg",
	    		"static/images/vip.jpg",
	    		"static/images/vip1.jpg",
	    		"static/images/image2.jpg",
                "static/images/image7.jpg"
	    	],
	    	scale:0.75,
	    	duration:8000,
	    	fadeSpeed:1200,
	    	ease3d:'cubic-bezier(0.445, 0.050, 0.550, 0.950)',

	    	onSlideComplete: function(){
	    		$('#slide-title').html(titles[this.getSlideIndex()]);
	    	},
	    	onLoadingComplete: function(){
	    		$('#status').html("Loading Complete");
	    	}
	    });
	});
</script>
</div>
{% endblock %}
