{% load staticfiles %}
<script src='{% static 'javascripts/libs/jquery.min.js' %}' type='text/javascript' charset='utf-8'>
</script>

<link rel="stylesheet" href="{% static 'css/stylesheets/bootstrap.min.css' %}" title="" type="" />

<script src='{% static 'javascripts/libs/bootstrap.min.js' %}' type='text/javascript' charset='utf-8'>
</script>

<script src='{% static 'javascripts/packed.js' %}' type='text/javascript' charset='utf-8'></script>

<link rel="stylesheet" href="{% static 'css/stylesheets/screen.css' %}" title="" type="" />
	<link rel="stylesheet" type="text/css" href="static/css/stylesheets/style.css">
