{% extends "controller/base.html" %}
{% block 'Title' %}
    Mongolia Map
{% endblock %}
{% block "somejs" %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="static/css/stylesheets/historyMap.css" type="text/css" media="screen"> 
        <script type="text/javascript" src="static/js/paths/mng.js"></script>
        <script type="text/javascript" src="static/js/historyMap.js"></script>
        <script src="static/js/raphael-min.js" type="text/javascript"></script>
        <script type="text/javascript">
			window.onload = function ()
			{
				historyMapStart();
            };
        </script>
    
{% endblock %}
{% block 'content' %}
	<div id="main_messsage_box" class="modal"
        style="display:none; border-radius: 3px; left:40%; top:5%; width:800px">
		<div id="sehirTakirp" class="modal-header">
			<button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
			<h1 style='color:white'></h1>
		</div>

        <div class="modal-body">
            <p id="main_messsage_box_into" class='text-success'>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
	</div>
        <div id="canvas">
            <h2 id="mapTitle" style='color:white'>Монгол Улс</h2>
            <div id="paper"></div>
        </div>
{% endblock %}

