<div class='navbar navbar-default' style='border-radius:0px'>
 <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand'href="{% url 'controller:permission' %}">Easy Taxi Service</a>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
          <li class='dropdown open'>
            <a class='dropdown-toggle' data-toggle='dropdown'href="#"id='drops'>
                Service
            <span class='caret'></span>
            </a>
            <ul class='dropdown-menu' arria-labeledby='drops'>
                <li>
                    <a href="reserve" tabindex='-1'>
                        Reservation
                    </a>
                </li>
                <li>
                    <a href="{% url 'controller:mongolia' %}" tabindex='-1'>
                        Mongolia map
                    </a>
                </li>
            </ul>
            <li>
                <a href="{% url 'controller:news' %}">News</a>
                </li>
            <li>
                <a href="{% url 'controller:feedback'  %}">Feedback</a>
            </li>
          </li>
          <li>
          
          </li>
      </ul>
      <ul class='navbar-nav nav navbar-right'>
        <li><a href='{% url 'controller:logout' %}'>SignOut</a></li>
      </ul>
    </div>
 </div>     
</div>
