{% extends "controller/base.html" %}
{% block 'Title' %}
    News
{% endblock %}
{% block 'content' %}
{% for one in news  %}
<div class='container'>
    <div class='bs-docs-section'>
        <div class='row'>
            <div class='page-header'>
                <div class='col-lg-12'>
                    <h1 class='text-success'>{{ one.header }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class='jumbotron'>
        <p style="font-size:14px">
        {{ one.text }}
        </p>
    </div>
</div>
{% endfor %}    
{% endblock %}
