{% extends 'controller/forms.html' %}
{% block 'title' %}
  Reservation
{% endblock %}

{% block 'header' %}
  Reservation  
{% endblock %}

{% block 'sm-type' %}danger{% endblock %}

{% block  'btn-type'%}success{% endblock %}
{% block 'sm-val' %}
  Clear
{% endblock %}
{% block 'bg-val' %}
  Send Data
{% endblock %}

{% block 'warning' %}
    <div class='col-lg-4'>
       <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong class='text-danger'>Анхаар</strong></br>
              <p> Манай такси энхий 2 км 1000₮ цааших км 800₮ мөн хүлээлгийн
              мөнгө авахийг анхаарна уу?</p>
        </div> 
    </div>
{% endblock %}
