{% extends "controller/base.html" %}
{% block 'Title' %}
    Car's
{% endblock %}
http://www.youtube.com/watch?v=R0nkkXkrby0
{% block 'content' %}
    <div class='container'>
        <div class='bs-docs-section'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='well'>
                        <div id='left' class='sum'>
                            <img src="static/media/sl.png" class='pos' alt="" />
                        </div>
                        <div id='right' class='sum'>
                            <img src="static/media/sl.png" alt="" />
                        </div>    
                    <img src="static/media/taxi.jpg" id='slider_body'
                    style='margin-left:300px;' />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
