.login-btns {
    border-radius: 15px;
    border: 1px solid #ddd;
    color:rgb(51, 152, 243);
    display:inline-block;
    padding: 7px;
    background-color: #fff;
}
.login-btns:hover {
    background-color: #eee;
}
.items label {
    width: 150px;
}
.items, .form-btn{
    margin-left:50px;
}
legend a {
    font-size:10px;
}
.log-out {
    float:right;   
}
